extends layout

block content
  h1= title
  p Welcome to #{title}
  button(id='myButton') Ready to be clicked

block Button1
  script(src ="/javascripts/Button1.js")


  

block Button2
  p #{carData}
