body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#line {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
}
#instructions li {
  font-weight: bold;
}
